
.navbar h1 {
    margin: 2rem 0 2rem;
    background: blue;
    color: white;
}


ul { 
    text-align: start;
}

li {
    border-bottom: 1px solid gray;
}


a.active {
    color: white;
    background: rgb(71, 73, 195);
}